.header-bar-container {
  width: 100%;
  height: 2em;
  background-color: #a7dbd8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.header-bar {
  color: ##3a7875;
  font-size: 1.6rem;
}

.container {
  margin: 0 3em 0 3em;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.header-container {
  border: 1px solid red;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.title {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.main-title {
  border: 1px solid red;
}

.title-line {
  border: 1px solid red;
  display: flex;
  text-decoration: underline;
  text-decoration-color: #f38630;
  text-decoration-thickness: 0.35em;
  text-underline-offset: 5px;
  font-size: 3.2rem;
  margin: 1em;
}

.green-icon {
  color: #69d2e7;
  margin: 0.5em;
}
.sub-title {
  border: 1px solid red;
}

.dateform-container {
  border: 1px solid red;
}

.dateform {
}

.main-view-container {
  border: 1px solid red;
}

.summary-bar {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.textual-info-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0 0.5em 0;
}

.info-text {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.info-number {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0.2em;
  color: #a7dbd8;
}

.chart-container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vaccine-order-container {
  border: 1px solid red;
}

.vaccine-by-gender-container {
  border: 1px solid red;
}

.expiring-container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.expired-bottles {
  border: 1px solid red;
  margin: 0.5em;
}

.expired-vaccines {
  border: 1px solid red;
  margin: 0.5em;
}
