* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 40px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.header-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.main-title {
  border: 1px solid red;
}

.sub-title {
  border: 1px solid red;
}

.dateform-container {
  border: 1px solid red;
}

.dateform {
}

.main-view-container {
  border: 1px solid red;
}

.summary-bar {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  margin: 0;
  flex-wrap: wrap;
}

.vaccinations-given {
  border: 1px solid red;
  margin: 0.5em;
}

.vaccinations-remaining {
  border: 1px solid red;
  margin: 0.5em;
}

.vaccinations-expiring {
  border: 1px solid red;
  margin: 0.5em;
}

.chart-container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vaccine-order-container {
  border: 1px solid red;
}

.vaccine-by-gender-container {
  border: 1px solid red;
}

.expiring-container {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.expired-bottles {
  border: 1px solid red;
  margin: 0.5em;
}

.expired-vaccines {
  border: 1px solid red;
  margin: 0.5em;
}
